absl-py==0.11.0
applescript==2020.12.3
art==5.1
astor==0.8.1
cached-property==1.5.2
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
color-it==2.1.3
gast==0.2.2
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.16
grpcio==1.34.0
h5py==2.10.0
idna==2.10
importlib-metadata==3.3.0
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
keras-squeezenet==0.4
Markdown==3.3.3
numpy==1.14.5
oauthlib==3.1.0
opencv-python==4.4.0.46
opt-einsum==3.3.0
osascript==2020.12.3
Pillow==8.0.1
protobuf==3.14.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydot==1.4.1
pygame==2.0.1
pyparsing==2.4.7
PyYAML==5.3.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.6
runcmd==2020.12.3
scipy==1.5.4
six==1.15.0
tensorboard==1.10.0
tensorflow==1.10.1
tensorflow-estimator==1.15.1
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
